a {
    text-decoration: none;
    font-weight: 400;
    transition: border-bottom 0.35s;
    -webkit-transition: border-bottom 0.35s;
}

@import "common/common";
@import "baseLayout/baseLayout";
@import "pages/pages";
