.base-layout {
    $menu-header-height: 64px;
    $menu-transition: .25s ease;
    $menu-width: 256px;

    height: 100%;
    width: 100%;
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgb(35, 37, 56);
    color: rgba(#fff, 0.87);

    &.app-menu-closed {
        .close-menu {
            transform: translateX(-$menu-width + 330px);
        }
        .page-content {
            margin-left: 72px;
        }
        .app-menu {
            max-width: 72px;
        }
        .app-container {
            margin-left: 0 !important;
            width: 100%;
        }
    }

    .app-menu-header {
        height: $menu-header-height;
        line-height: $menu-header-height;
        width: $menu-width;

        position: absolute;
        z-index: 4;

        padding: 12px 16px;

        > div {
            display: flex;
            flex-direction: row;
            width: 100%;

            h3 {
                margin-top: -11px;
                margin-left: 8px;
                transition: transform $menu-transition;
                font-weight: 400;
                font-size: 18px;
                span {
                    color: #6967A0;
                }
            }
        }
    }

    .app-menu {
        transition:  transform $menu-transition;
        position: absolute;
        width: $menu-width;
        height: 100%;
        z-index: 3;
    }

    .page-title {
        transition: margin $menu-transition;
        position: relative;
        z-index: 4;
    }

    .hk-app-bar {
        min-height: $menu-header-height;
    }

    .flex-wrapper {
        display: flex;
        height: 100%;

        .app-container {
            display: flex;
            flex: 1;
            width: calc(100% - 240px);
            flex-direction: column;
            transition: margin $menu-transition;
            margin-left: $menu-width;


            .close-menu {
                border-radius: 50%;
                background-color: #4D4C73;
                color: #1E202F;
                height: 60px;
                width: 60px;
                position: absolute;
                top: 50%;
                margin-left: -36px;
                cursor: pointer;

                .close-menu-icon {
                    margin-left: -38px;
                }

                &:hover {
                    box-shadow: 0px 15px 50px -5px rgba(0, 0, 0, 0.25);
                    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
                }
            }

            .page-content {
                display: flex;
                flex: 1;
                overflow-y: auto;

                .screen-card {
                    flex: 1;
                    padding: 8px;
                    md-card {
                        margin: 16px 8px;
                    }
                }
                .full-screen-card {
                    flex: 1 0 auto;
                    padding: 16px;
                    background: red;
                }
            }
        }
    }
}
