<div class="lights" layout="row">
    <div layout="column" flex="20">
        <div layout="row"
             class="lights-list"
             ng-repeat="light in lightsCtrl.lights"
             ng-click="lightsCtrl.toggleDetails(light)"
             ng-class="{'selected-light': (light.uniqueid === lightsCtrl.selectedLight.uniqueid),
                        'reachable-light': (light.state.reachable === true),
                        'powered-light': (light.state.on === true)}">
            <div class="light-icon"><i class="material-icons">{{ light.iconname }}</i></div>
            <div flex>
                <h4 class="item-label">{{ light.name }}</h4>
                <span class="item-state"><i class="material-icons power">power_settings_new</i> <i class="material-icons reachable">wifi</i></span>
            </div>
        </div>
        <div layout="row" class="add-light" layout-align="center center" flex="100">
            <div class="button-container">
                    <md-button ng-click="hkBridgeConnexionCtrl.registerUser()">ADD A LIGHT</md-button>        
            </div>

        </div>
    </div>
    <div layout="row" flex="80">
        <md-sidenav class="md-sidenav-right md-whiteframe-4dp"
                    md-component-id="right"
                    md-disable-backdrop>
            <hk-light-details light="lightsCtrl.selectedLight"></hk-light-details>
        </md-sidenav>
    </div>
</div>
