@import "lights/lights";
@import "scenes/scenes";
@import "settings/settings";

.lights-list {
    height: 72px;
    cursor: pointer;

    .light-icon {
        i {
            height: 40px;
            width: 40px;
            font-size: 32px;
            text-align: center;
            margin: 24px;
        }
    }
    .item-label {
        margin-bottom: 6px;
        font-size: 16px;
    }
    .item-state {
        font-size: 14px;
        color: rgba(#fff, 0.54);
    }
    &:hover > * {
        text-shadow: 0 0 24px rgba(#fff,0.54), 0 0 16px rgba(#fff,0.26);
        transform: translateY(-8px);
        transition: all ease 0.5s;
    }

    &.selected-light > * {
        text-shadow: 0 0 24px rgba(#fff,0.54), 0 0 16px rgba(#fff,0.26);
        transform: translateY(-8px);
        transition: all ease 0.5s;
    }
}

.md-sidenav-right {
    min-width: 1300px;
    top: 64px !important;
    background-color: #2d2d46;
}
