@import "lights/lights";
@import "scenes/scenes";
@import "settings/settings";


.add-light {
    bottom: 20px;
    position: absolute;
    float: right;

    .md-button {
        -webkit-border-image: -webkit-linear-gradient(#ff8769, #ff689e);
        padding: 8px 15px;

        border: 2px solid transparent;

        -moz-border-image: -moz-linear-gradient(top, #ff8769 0%, #ff689e 100%);
        -webkit-border-image: -webkit-linear-gradient(top, #ff8769 0%, #ff689e 100%);
        border-image: linear-gradient(to bottom, #ff8769 0%, #ff689e 100%);

        border-image-slice: 1;
    }
}

.lights-list {
    height: 72px;
    cursor: pointer;

    .light-icon {
        i {
            height: 40px;
            width: 40px;
            font-size: 32px;
            text-align: center;
            margin: 28px;
        }
    }
    .item-label {
        margin-bottom: 6px;
        font-size: 16px;
    }
    .item-state {
        font-size: 14px;
        color: rgba(#fff, 0.54);
    }
    &:hover > * {
        text-shadow: 0 0 24px rgba(#fff,0.54), 0 0 16px rgba(#fff,0.26);
        transform: translateY(-8px);
        transition: all ease 0.5s;
    }

    &.selected-light > * {
        text-shadow: 0 0 24px rgba(#fff,0.54), 0 0 16px rgba(#fff,0.26);
        transform: translateY(-8px);
        transition: all ease 0.5s;
    }
}


.md-sidenav-right {
    min-width: 1300px;
    width: 100%;
    top: 64px !important;
    background-color: #2d2d46;
}
