@import "lights/lights";
@import "scenes/scenes";
@import "settings/settings";

.button-container{
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 70px;
}

.button-container .md-button{
    -webkit-border-image: -webkit-linear-gradient(#ff8769, #ff689e);
    padding: 6px 25px;
    margin: 0;

    border: 3px solid transparent;

    -moz-border-image: -moz-linear-gradient(top, #ff8769 0%, #ff689e 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #ff8769 0%, #ff689e 100%);
    border-image: linear-gradient(to bottom, #ff8769 0%, #ff689e 100%);

    border-image-slice: 1;
}

.lights-list {
    height: 72px;
    margin-bottom: 36px;
    cursor: pointer;

    color: rgba(#fff, 0.70);

    .light-icon {
        i {
            height: 40px;
            width: 40px;
            font-size: 32px;
            text-align: center;
            margin: 28px;
        }
    }
    .item-label {
        margin-bottom: 2px;
        font-size: 16px;
        font-weight: 400;
    }
    .item-state {
        color: rgba(#fff, 0.54);
        i {
            font-size: 17px;
            margin-right: 3px;
        }
    }
    &:hover > * {
        text-shadow: 0 0 24px rgba(#fff,0.54), 0 0 16px rgba(#fff,0.26);
        transform: translateY(-8px);
        transition: all ease 0.5s;
    }

    &.selected-light > * {
        text-shadow: 0 0 24px rgba(#fff,0.54), 0 0 16px rgba(#fff,0.26);
        // transform: translateY(-8px);
        transition: all ease 0.5s;
        color: white;
    }

    &:not(.reachable-light) {
    }

    &.reachable-light {
        i.reachable {
            color: $coral-500;
            // color: rgb(116, 153, 255);
        }
    }

    &.powered-light {
        .item-state .power{
            color: $green-500;
        }
    }
}

.md-sidenav-right {
    min-width: 1300px;
    width: 100%;
    top: 64px !important;
    background-color: #2F2E4B;
}
