.hk-light-details {

    img.hue {
        max-width: 450px;
    }
    .sidenav-title {
        margin-top: 24px;

        md-switch.md-checked.md-primary .md-thumb, md-switch.md-checked.md-primary .md-ink-ripple {
            background-color: $green-500;
        }
        md-switch.md-checked.md-primary .md-bar {
            background-color: rgba($green-500,.5);
        }

        .light-switch {
            margin-top: 18px;
            margin-right: 8px;
        }
        h1 {
            font-weight: 400;
            font-size: 24px;
        }

        .item-modelid {
            margin-left: 54px;
            font-size: 20px;
            font-weight: 400;
            margin-top: 12px;
            margin-bottom: 10px;
            color: rgba(#fff, 0.54);
        }

        .item-attribute {
            margin-left: 54px;
            font-size: 20px;
            margin-bottom: 30px;
            i {
                margin-right: 3px;
                color: rgba(#fff,.54);
                &.powered-light {
                    color: $green-500;
                }
                &.reachable-light {
                    color: $coral-500;
                }
            }
        }
    }
    .sidenav-content {
        margin-left: 54px;

        .light-card {
            padding: 16px;

            .header {
                height: 48px;
                font-size: 40px;
                font-weight: bolder;
                color: rgba(#fff,.22);
            }

            .content {
                height: 217px;
                box-shadow: 0px -50px 60px -5px rgba(0, 0, 0, 0.25);
            }

            &.color-card {
                .header {
                    background: linear-gradient(to top right, #30BDE0 0%, $green-500 50%, #26DDD9 100%);
                }
            }
        }
    }
}
