<div class="hk-light-details" layout="row" layout-fill>
    <div flex="50" layout="row" layout-align="center center">
        <img ng-if="hkLightDetailsCtrl.light.modelname === 'Hue colors'" class="hue" src="./images/extendedColors.png" />
        <img ng-if="hkLightDetailsCtrl.light.modelname === 'Hue lightstrip'" class="hue" src="./images/lightstrip.png" />
    </div>
    <div layout="column">
        <div class="sidenav-title" layout="row">
            <md-switch class="md-primary light-switch"
                       aria-label="Switch light"
                       ng-model="hkLightDetailsCtrl.light.state.on"
                       ng-change="hkLightDetailsCtrl.toggleLight()"></md-switch>
            <h1>{{ hkLightDetailsCtrl.light.name }}</h1>
        </div>

        <div class="sidenav-content" layout="column">
            <span class="item-modelid">{{ hkLightDetailsCtrl.light.modelname }}</span>
            <span class="item-attribute"><i class="material-icons">power_settings_new</i>{{ hkLightDetailsCtrl.light.state.on === true ? 'On' : 'Off' }}</span>
            <span class="item-attribute"><i class="material-icons" style="color: rgb(48, 226, 219)">wifi</i>{{ hkLightDetailsCtrl.light.state.reachable === true ? 'Reachable' : 'Unreachable' }}</span>
            <span class="item-attribute">Color</span>
            <span class="item-attribute">Intensity</span>
            <md-color-picker ng-model="hkLightDetailsCtrl.light.state.rgb"
                             ng-change="hkLightDetailsCtrl.setHueColor()"
                             type="1"
                             hex="false"
                             hsl="false"></md-color-picker>
            <md-slider flex class="md-primary"
                       md-discrete
                       ng-click="hkLightDetailsCtrl.setBrightness()"
                       ng-model="hkLightDetailsCtrl.light.state.bri" step="1" min="0" max="254" aria-label="brightness"></md-slider>
            <span class="item-attribute" style="color:{{hkLightDetailsCtrl.rgbHueCoordinates}};">Serial</span>
        </div>
    </div>
</div>
