.hk-app-bar {
    background-color: rgba(#fff,0.08);
    color: rgba(#fff, 0.87);

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul li {
        height: 64px;
        display: flex;
        align-items: center;
    }

    .header-left {
        .page-title {
            font-size: 20px;
            font-weight: 600;
            padding-left: 24px;
        }
    }
}
