<div class="scene-details" layout="row" ng-cloak>

    <div layout="column">
        <span class="scene-name">{{sceneDetailsCtrl.scene.name}}</span>
        <div layout="row"
             class="lights-list"
             ng-repeat="light in sceneDetailsCtrl.scene.lights"
             ng-ig="!light.locked && light.id"
             ng-click="sceneDetailsCtrl.toggleDetails(light)"
             ng-class="{'selected-light': (light.uniqueid === sceneDetailsCtrl.selectedLight.uniqueid) }">
            <div class="light-icon"><i class="material-icons">{{ light.getTypeIconName() }}</i></div>
            <div flex>
                <h4 class="item-label">{{ light.name }}</h4>
                <span class="item-state">{{ light.state.on === true ? 'On' : 'Off' }} | {{ light.state.reachable === true ? 'Reachable' : 'Unreachable' }}</span>
            </div>
        </div>
    </div>

    <md-sidenav class="md-sidenav-right md-whiteframe-4dp"
                md-component-id="right"
                md-disable-backdrop>
        <hk-light-details light="sceneDetailsCtrl.selectedLight"></hk-light-details>
    </md-sidenav>
</div>
