body {
    background-color: #363248;
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    & > [ui-view] {
        height: 100%;
    }

    .content-card {
        transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
        overflow: hidden;
        padding: 24px;
        border-radius: 14px;

        &:hover {
            box-shadow: 0 10px 13px -6px rgba(0,0,0,.2), 0 20px 31px 3px rgba(0,0,0,.14), 0 8px 38px 7px rgba(0,0,0,.12);
        }
    }
}

* {
    box-sizing: border-box;
    outline: 0;
}
