$imagePath: '../images' !default; // default image path

// ---- COLOR(s) ----
$blue: #58C4F7;
$blue-light: #58DEF7;
$blue-sky: #51AAF2;
$blue-green: #30BDE0;
$coral: #FE7883;
$cyan: #26DDD9;
$green: #3ABBC6;
$indigo: #6558F7;
$orange: #FD8E79;
$pink: #FD79A9;
$purple: #BE58F7;
$violet: #8E58F7;


// ---- LAYOUT VAR(s) ----
$mobileWidth: max-width 768px;
$desktop: 768px;
$pratio: 2;
$spriteFolder: $imagePath+'/sprite/';

$font-size-base: 14px;
$line-height-base: 1.428571429 // 20/14
