<div class="hk-bridge-connexion">
    <md-card class="bridge-card content-card">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">No bridge was found!</span>
                <span class="md-subhead">We need some informations to proceed...</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media"></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-content>
            <md-input-container class="md-block" flex-gt-sm>
                <label class="card-label">IP address</label>
                <input name="ipAddress"
                       class="card-input"
                       ng-model="hkBridgeConnexionCtrl.ipAddress"
                       placeholder="0.0.0.0"
                       required ng-pattern="/\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/"
                       md-maxlength="45">
                <div ng-messages="hkBridgeConnexionCtrl.ipAddress.$error" role="alert" multiple>
                    <div ng-message="required" class="my-message">You must supply your IP address.</div>
                    <div ng-message="ng-pattern" class="my-message">Invalid IP address.</div>
                    <div ng-message="md-maxlength" class="my-message">Incorrect IP address (too long).</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label class="card-label">Device name</label>
                <input ng-model="hkBridgeConnexionCtrl.deviceName"
                       class="card-input"
                       placeholder="Enter a name for your bridge"
                       required md-maxlength="40">
            </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" ng-click="hkBridgeConnexionCtrl.registerUser()">Go!</md-button>
        </md-card-actions>
    </md-card>
</div>
